{% load static %}

<html lang = 'en'>
    <head>

        <title>
            {% block title %} {% endblock %}
        </title>

        <link rel = "stylesheet" href = "{% static 'base.css' %}">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin = "anonymous">
        <script src="https://kit.fontawesome.com/087106493e.js" crossorigin="anonymous"></script>
       
    </head>
    <body>

        {% block content %} 
        
        {% endblock %}

    </body>
</html>